* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(169, 97, 179),
    rgb(92, 145, 206)
  );
}

.icon {
  width: 35px;
}
